# CKAN Project Configuration Template

# Site URL
#CKAN_SITE_URL=http://localhost:4000

# Sysadmin
#CKAN_SYSADMIN_NAME=admin
#CKAN_SYSADMIN_PASSWORD=password
#CKAN_SYSADMIN_EMAIL=admin@example.com

# PostgreSQL password for databases
POSTGRES_PASSWORD=ckan_password
POSTGRES_USER=ckan_default

# Beaker session secret (required)
CKAN_BEAKER_SESSION_SECRET=secret_string_change_me

# Solr URL
# CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis URL
# CKAN_REDIS_URL=redis://redis:6379/1
TF_SERVING_URL=http://localhost:8501/v1/models/activity_predictor:predict
