psycopg2-binary
geojson
requests
six
pika
pysolr
sqlalchemy-citext
Shapely
OWSLib
lxml
python-dateutil
PyYAML

ckanext-spatial @ git+https://github.com/ckan/ckanext-spatial.git
ckanext-harvest @ git+https://github.com/ckan/ckanext-harvest.git
ckanext-scheming @ git+https://github.com/ckan/ckanext-scheming.git#egg=ckanext-scheming
ckanext-geoview